@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1638091649848') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-webicon309:before {
  content: "\e6a0";
}

.icon-tzuixiaohua:before {
  content: "\e616";
}

.icon-big:before {
  content: "\e6bc";
}

.icon-zhuangtailan_zuidahua:before {
  content: "\e626";
}

