.folder .window-body{
    ul{
        padding: 6px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 80px);

        li{
            cursor: pointer;
            width: 80px;
            height: 80px;
            margin: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            .file-item{
                align-items: center;
                justify-content: center;
                color: #ffffff;
                display: flex;
                flex-direction: column;
                img{
                    width: 40px;
                }
                span{
                    margin-top: 4px;
                    font-size: 12px;
                    color: #ffffff;
                }
            }
        }
        li:hover{
            background: #ffffff26;
            border-radius: 6px;
        }
       
    }
}
.folder header{
    height: 100%;
    ul{
        display: flex;
        padding: 4px 10px;
        height: 100%;
        li{
            padding: 1px 9px;
            background: #9f9f9f30;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px #c3c3c34a solid;
        }
        li:nth-of-type(1){
            border-top-left-radius: 4px;
            border-bottom-left-radius: 10px;
        }
        li:nth-last-of-type(1){
            border-right: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 10px;
        }
    }
}