.desktop{
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;   
    user-select: none;          
}
body{
    background: #000;
}
@keyframes window-scale-transform {
    0% {
        transform: scale(1);
    }
    25%{
        transform: scale(1.03);
    }
    50% {
        transform: scale(1);
    }
    75%{
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
  }
  
.window-scale {
    animation-name: window-scale-transform;
    animation-duration: 0.3s;
  }

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #52232300;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #aeaeae66;
    border-radius: 13px;
    transition: all 0.5s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #aeaeae2a;
  }

  .base-input{
    background: #ffffffe0;
    border: 2px #5496d3 solid;
    outline: none;
  }
  .base-button{
    width: 63px;
    height: 27px;
    background: #fafafa;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .base-button.red{
    background: red;
  }
  .base-button.blue{
    background: #5496d3;
    color: #ffffff;
  }
  