.desktop {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --nav-select-color: #e34130d1;
  --nav-select-hover-color: #ffffff14;
  --default-hover-color: #b1abae2b;
}



body {
  background: #000;
}

@keyframes window-scale-transform {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.03);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.window-scale {
  animation-name: window-scale-transform;
  animation-duration: 0.3s;
}

::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
}

/**
   *滚动的滑块
   *滚动条里面可以拖动的那部分
   */
::-webkit-scrollbar-thumb {
  opacity: 0.8;
  background: #44464cd1;
  border-radius: 19px;
  height: 30px !important;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c5f66d1;
  border: 2px solid transparent;
  background-clip: content-box;
}


::-webkit-scrollbar-track-piece {
  background: #00000000;
  width: 60px;
  height: 60px;
}


::-webkit-scrollbar-button {
  display: none;
}


::-webkit-scrollbar-corner {
  display: none;
}


.base-input {
  background: #ffffffe0;
  border: 1px #5496d3 solid;
  outline: none;
  padding: 5px 7px;
  border-radius: 2px;
}

//按钮样式
.base-button {
  width: 63px;
  height: 27px;
  background: #fafafa;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.base-button.white-translucent {
  background: #ffffff4a;

}

.base-button.red {
  background: #a93d3d;
}

.base-button.blue {
  background: #3d35b1;
  color: #ffffff;
}

.base-button.green {
  background: #299d58;
  color: #ffffff;
}

.base-button.red-a {
  background: #d73f3fb3;
}

.fit-parent {
  width: 100%;
  height: 100%;
}

//flex
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-aling-item-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-all-center {
  justify-content: center;
  align-items: center;
}

.flex-align-items-center {
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

//grid
.grid {
  display: grid;
}

.grid-justify-content-center {
  display: grid;
  justify-content: center;
}

//img
img.wh-40px {
  width: 40px;
  height: 40px;
}

img.wh-30px {
  width: 30px;
  height: 30px;
}

img.cover {
  object-fit: cover;
}

//padding

.padding-10px {
  padding: 10px;
}

//margin
.margin-10px {
  margin: 10px;
}

.margin-b-5px {
  margin-bottom: 5px;
}

.margin-l-10px {
  margin-left: 10px;
}

.margin-t-10px {
  margin-top: 10px;
}

//height
.hegiht-50px {
  height: 50px;
}

.height-90px {
  height: 90px;
}

.height-200px {
  height: 200px;
}

//width
.width-height-90px {
  height: 90px;
  width: 90px;
}

//cursor
.cursor-pointer {
  cursor: pointer;
}

//color
.color-white {
  color: white;
}

.background-black {
  background: #000;
}

.background-white {
  background: white;
}

.background-white-translucent {

  background: #ffffff47;
}

.background-green {
  background: #228b5b;
}

// ann
.element-rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//postion
.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.pos-fixed {
  position: fixed;
}

.pos-ltrb0 {
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.pos-tbl0 {
  left: 0px;
  top: 0px;
  bottom: 0px;
}


//font
.font-size-10px {
  font-size: 10px;
}

.window-body-background-green {
  background: #238f74d1 !important
}

.window-body-background-red {
  background: #c5355dc4 !important;
}

//border
.border-10-radius {
  border-radius: 10px;
}

.border-5-radius {
  border-radius: 5px;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading img {
  animation: rotateAnimation 2s linear infinite;
  animation-delay: 0s;
}

// 左右导航布局
.left-tab-layout {
  height: 100%;

  .left-tab-layout-container {
    flex: 1;
    background: #ffffff00;
    padding: 10px;
    padding-left: 145px;
  }

  aside {
    top: 51px;
    width: 140px;

    li:hover {
      background-color: var(--nav-select-hover-color);
    }

    li.select {
      background: var(--nav-select-color);
      color: #ffffff;
    }

    li {
      border-radius: 9px;
      height: 50px;
      display: flex;
      align-items: center;
      margin: 2px 8px;
      padding: 10px;
      cursor: pointer;

      div {
        display: flex;
        align-items: center;

        img {
          width: 17px;
          height: 17px;
        }

        span {
          margin-left: 8px;
          font-size: 15px;
        }
      }
    }
  }

}

//表格buju
div.table-layout {
  padding: 3px;

  ul.table-body {
    display: flex;
    flex-direction: column;

    li.select {
      background: var(--default-hover-color);
    }

    li:hover {
      background: var(--default-hover-color);
    }

    li {
      border-radius: 3px;
      padding: 7px 5px;
      display: flex;
      margin: 3px 0px;

      span {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  header.fixed {
    position: absolute;
  }

  header {
    width: 100%;
    border-bottom: 1px #ffffff42 solid;

    ul {
      display: flex;

      li {
        padding: 3px;
        flex: 1;
      }
    }
  }
}

.page {
  button {
    border: none;
    background: #dddddd;
    color: #000000;
    padding: 2px 7px;
    margin: 0 3px;
    cursor: pointer;
  }

  button.select {
    background: var(--nav-select-color);
    color: #ffffff;
  }
}

.info-form-item {
  .value {
    margin-left: 10px;
  }
}

.cooldesktop-select-container {
  .selected {
    background: #ffffff26;
    padding: 5px 10px;
    min-width: 127px;
    border-radius: 4px;
    min-height: 30px;
    position: relative;
  }

  .cooldesktop-select-ul {
    background: #38303047;
    position: absolute;
    width: 127px;
    font-size: 14px;

    li {
      padding: 4px 5px;
      cursor: pointer;
      cursor: pointer;
    }

    li:hover {
      background-color: #ffffff0f;
    }
  }

}

.user-select-text {
  user-select: text !important
}

// menu
.base-menu {
  ul {
    width: 100%;
  }

  li:hover {
    background: #3a3a3a91;
  }

  li {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    padding: 6px 29px;
  }
}

.mulit-level-menu-first li:hover .mulit-level-menu-second {
  display: flex;
}

.mulit-level-menu-first {
  li {
    position: relative;
  }

  .mulit-level-menu-second {
    display: none;
    position: absolute;
    left: 180px;
    display: none;
    width: 121px;
    top: 0px;

    li {
      position: relative;
      cursor: pointer;
    }
  }
}