.desktop{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */     
}
body{
    background: #000;
}
@keyframes window-scale-transform {
    0% {
        transform: scale(1);
    }
    25%{
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
  }
  
.window-scale {
    animation-name: window-scale-transform;
    animation-duration: 0.3s;
  }