.window-item.setting {
    color: #ffffff;

    .window-body {
        display: flex;
    }

    .setting-container {
        .tip {
            margin-top: 10px;
        }

        .page-passwd {
            display: flex;
            align-items: center;

            button {
                background: #b52424;
            }

            input {
                margin-right: 5px;
                padding: 4px 5px;
                border: none;
            }
        }

        .page-background {
            .perview {
                display: flex;
                justify-content: center;

                img {
                    width: 400px;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }

        .page-ssh {
            display: flex;
            flex-direction: column;

            .button {
                color: #ffffff;

            }

            .save-user-button {
                color: #ffffff;
                margin-left: 10px;
            }

            .form-item {

                display: flex;
                align-items: center;
                margin-top: 10px;

                span {
                    width: 50px;
                    display: flex;
                    white-space: pre;

                }

                input {
                    padding: 4px 5px;
                    outline: none;
                    border: none;
                    margin-left: 10px;
                }
            }
        }
    }
}