div.software.window-item{
    header{
        display: flex;
        align-items: center;
        img{
            cursor: pointer;
            margin-left: 10px;
            width: 30px;
        }
    }
}
.software{
    .window-body{
        display: flex;
        position: relative;
        overflow: hidden;
        aside{
            min-width: 120px;
            color: #d1d1d1;
            font-size: 16px;
            
            ul {
              li{
                padding-left: 16px;
              }
              li.select{
                background: #dfe1e133;
              }
            }
         
        }
        .container{
            .app-install-container{
                padding: 10px;
                .screenshot{
                    overflow-x: auto;
                    display: flex;
                    width: 600px;
                    img{
                        width: 200px;
                        height: 200px;
                        border-radius: 8px;
                        margin-right: 10px;
                        object-fit: contain;
                    }
                }
                .header-info{
                    display: flex;
                    .logo{
                        align-items: center;
                        button{
                            cursor: pointer;
                            border: none;
                            height: 30px;
                            width: 100px;
                            background: #258799;
                            border-radius: 5px;
                            color: #ffffff;
                        }
                        img{
                            width: 72px;
                            margin-bottom: 15px;
                        }
                        .progress{
                            font-size: 13px;
                            position: relative;
                            width: 100px;
                            height: 30px;
                            background: #fafafa;
                            border-radius: 5px;
                            background: #bfbfbf14;
                            overflow: hidden;
                            div{
                                width: 10%;
                                background: #2d7230;
                                height: 100%;
                            }
                            span{
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                right: 0px;
                                bottom: 0px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                    .introduce{
                        flex: 1;
                        margin-left: 20px;
                       .introduce-item{
                            display: flex;
                            color: #e3dfdf;
                            font-size: 17px;
                            margin-bottom: 20px;
                            span{
                                display: block;
                            }
                            span.key{
                                width: 66px;
                            }
                       }
                    }
                }
                
            }
            .app-list-container ul{
                padding: 6px;
                grid-template-columns: repeat(auto-fill, 86px);
                li{
                    margin: 1px 0;
        
                    .software-item{
                        position: relative;
                        width: 100%;
                        span{
                            margin-top: 6px;
                            font-size: 13px;
                            color: #ffffff;
                            width: 100%;
                            display: block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            text-align: center;
                        }
                    }
                }
                li:hover{
                    background: #ffffff26;
                    border-radius: 6px;
                }
            }
       
        }
        
    }
}