div.success-message.window-item{
    .window-body{
        color: #ffffff ;
        display: flex ;
        justify-content: center ;
        align-items: center ;
        background: #f312ff00  ;
        padding: 10px;
 
    }
}