.success-message{
    .window-body{
        color: #ffffff !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background: #f312ff00  !important;
        padding: 10px;
 
    }
}
.success-message.window-item{
    height: 200px !important;
    width: 456px  !important;

    left: calc(50% - 200px);
    top: calc(50% - 100px);
}