div.terminal.window-item{
    height: 500px ;
    width: 868px  ;
    left: calc(50% - 434px);
    top: calc(50% - 250px);
}
.desktop .terminal{
    .window-body{
        color: #ffffff !important;
        overflow-y: inherit !important;
        padding: 5px;
    }
}

div.terminal.window-item{
    background: #853f3fe0;
}