@TASK_BAR_HEGIHT: 57px;
@APP_CONTAINER_Z_INDEX:1000;
@APP_TASK_BAR_Z_INDEX:999999;
.max-window{
    position: absolute !important;
    left: 0px !important;
    top: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
    width: 100% !important;
    height: calc(100% + @TASK_BAR_HEGIHT + 70px)  !important;
    border-radius: 0px !important;

}
.hide-window{
    display: none  !important
}
.close-window-transition{
    transform: scaleY(0) !important
}
.min-window{
    transform: scale(0) !important;
}
.window-transition{
    transition: all 0.3s !important;
}

.window-z-height{
    z-index: @APP_TASK_BAR_Z_INDEX - 1 !important
}
.desktop-none{
    transform: scale(0.0);
}
.app-starter-visible{
    opacity: 1 !important;
    z-index: 9999 !important
}
.desktop{
    transition: all 0.6s;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image: url(../background/desktop.jpg);
    .app-starter{
        background: #000000b8;
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        transition: all 0.4s;
        z-index: 1;
    }
   .work-region{
        position: relative;
        flex: 1;
        width: 100%;
        z-index: 10;
   }
   .task-bar{
       height: @TASK_BAR_HEGIHT;
       position: relative;
       overflow: hidden;
       margin: 0 73px 15px 73px;
       border-radius: 12px;
       box-shadow: 0px 2px 10px #00000069;
       z-index: @APP_TASK_BAR_Z_INDEX;
       .task-bar-mask{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            backdrop-filter: blur(5px);
            background: #00000082;
        }
        .task-bar-content{
            position: relative;
            z-index: 3;
            height: 100%;

            ul{
                padding: 0px 10px;
                height: 100%;
                display: flex;
                align-items: center;
              
                li{
                    transition: all 0.3s;
                    cursor: pointer;
                    margin: 0 6px;
                    height: 49px;
                    width: 49px;
                    display: flex;
                    justify-content: center;
                }
                li:hover{
                    background: #484646bd;
                    border-radius: 3px;
                }
              
                .task-item{
                    flex-direction: column;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 32px;
                        transition: all 0.4s;
                    }
                 
                    span{
                        background: #d11010f5;
                        border-radius: 50%;
                        margin-top: 6px;
                        transition: all 0.5s;
                        width: 5px;
                        transform: scale(0);
                        height: 5px;
                        position: absolute;
                        top: 42px;
                    }
                    span.select{
                        transform: scale(1);
                    }
                }
            }
       }
   }

   
  
   //app list
   .app-list{
        display: flex;
        padding: 14px;
        z-index: 999;
        position: absolute;
        width: 100%;
       ul{
        display: flex;
        justify-content: center;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 97px);
        width: 100%;
            li{
                cursor: pointer;
                padding: 0px;
                transition: all 0.2s;
                width: 79px;
                height: 79px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 7px;
                margin: 7px;
            }
            li:hover{
                background: #ffffff2e;
                backdrop-filter: blur(15px);
            }
           .app-icon{
               img{
                width: 48px;
                height: 48px;
                object-fit: cover;
                border-radius: 3px;
               }
           }
           
           .app-name{
            color: #ffffff;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
           }
           .iconfont{
               font-size: 48px;
           }
       }
    }

    .window-item{
            transition: transform 0.2s;
            position: absolute;
            box-shadow: 2px 6px 10px 2px #00000091;
            display: flex;
            flex-direction: column;
            width: 750px;
            height: 509px;
            background: #000000c4;
            backdrop-filter: blur(15px);
            border-radius: 8px;
            overflow: hidden;
            resize: both;
            overflow: auto;
            min-width: 200px;
            min-height: 200px;
            left: calc(50% - 375px);
            top: calc(50% - 250px);
            .window-content{
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                display: flex;
                z-index: 2;
                flex-direction: column;
            }
            .window-mask{
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                z-index: 10000;
                transition: all 0.3s;
                background: #00000098;
            }
            .window-mask.action{
                z-index: 1;
                background: none;
            }
            .window-title::-webkit-resizer {
                background-color: transparent;
            }
            .window-title{
                min-height: 45px;
                display: flex;
                justify-content: start;
                color: #ffffff;
                font-size: 17px;
                position: relative;
                align-items: center;
                border-bottom: 1px #ffffff12 solid;
                background: #00000000;
                cursor: grabbing;
                .opt{
                    position: absolute;
                    right: 7px;
                    .iconfont{
                        font-size: 19px;
                        margin: 0 5px;
                        cursor: pointer;
                        transition: all 0.2s;
                     }
                    .iconfont:hover{
                        background: #912929;
                        border-radius: 50%;
                        color: #ffffff;
                    }
                }
            }
            .window-body{
                flex: 1;
                overflow-y: auto;
                iframe{
                    width: 100%;
                    height: 99%;
                    border: none;
                    background: #ffffff;
                }
                .iframe-pointer-events{
                    pointer-events: none;
                }
            }
    }   

}
